* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

p.modified {
  font-size: 20px;
  text-transform: uppercase;
  text-indent: 10%;
  line-height: 1.5;
  word-spacing: 50px;
  letter-spacing: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

h2 {
  text-shadow: 10px 10px 2px red;
  /* text-shadow: -6px -6px 2px red; */
}
