img {
  width: 150px;
  height: 100px;
  object-fit: cover;
}

p {
  /* text-decoration: underline dashed red; */
  /* text-decoration: overline dashed red; */
  text-decoration: line-through wavy red 1px;
}

a {
  color: seagreen;
  text-decoration: none;
}
